.light-bg.cf6da63 {
    background-color: #e9d060 !important;

    p { color: black }
    span { color: black }
    nav hr{ border-color: rgba(0, 0, 0, 0.144); }

    form input {
        background: none; border-color: rgba(0, 0, 0, 0.432);
        &:hover { background-color: none; border-color: black;}
        &::placeholder { color: black; }
    }

    .btn-dark { 
        background: #000000; border-color: transparent; 
        &:hover { background-color: black; }
    }

    .card-bg { background-color: #f6da63 !important; }
}

.dark-bg.c692db7 {
    background-color: #692db7 !important;

    p { color: white }
    span { color: white}
    nav .btn-dark { background: black; &:hover{ background: black; } }
    nav .border{ border-color: white; }

    form input {
        background: #734ee4; border-color: transparent; 
        &:hover { background-color: #6946d1; border-color: transparent; }
        &::placeholder { color: rgba(255, 255, 255, 0.363); }
    }

    .btn-dark { 
        background: #734ee4; border-color: transparent; 
        &:hover { background-color: #6946d1; }
    }

    .card-bg { background-color: #8158fc !important; }
}

.dark-bg.ce44985 {
    background-color: #bd245f !important;

    p { color: white }
    span { color: white}
    nav .border{ border-color: white; }
    nav .btn-dark { background: black; &:hover{ background: black; } }

    form input {
        background: #ca4075; color: white; border-color: transparent; 
        &:hover { background-color: #b13765; border-color: transparent; }
    }

    .btn-dark { 
        background: #ca4075; border-color: transparent; 
        &:hover { background-color: #b13765; }
    }

    .card-bg { background-color: #e44985 !important; }
}

.light-bg.cb0e0a8 {
    background-color: #9acc92 !important;

    p { color: black }
    span { color: black}
    nav .border{ border-color: black; }
    nav .btn-dark { background: black; &:hover{ background: black; } }

    form input {
        background: none; color: black; border-color: rgba(0, 0, 0, 0.459); 
        &:hover { background-color:none; border-color: black; }
        &::placeholder { color: rgb(0, 0, 0);}
    }

    .btn-dark { 
        background: #000000; border-color: transparent;
        &:hover { background-color: #000000; }
    }

    .card-bg { background-color: #b0e0a8 !important; }
}

//Span list
nav .theme span {
    display: block;
    width: 35px; height: 35px;
    border-radius: 100%;
    background-color: black;
    margin: auto;
    cursor: pointer;

    &.white { background: white }
    &.black { background: black }
    &.cf6da63 { background: #f6da63 }
    &.c692db7 { background: #692db7 }
    &.ce44985 { background: #e44985 }
    &.cb0e0a8 { background: #b0e0a8 }
}

.light-bg .theme span { border: 1px solid rgba(0, 0, 0, 0.13); }
.dark-bg .theme span { border: 1px solid rgba(255, 255, 255, 0.233); }